.blog-date {
    float:right;
}

.blog-image {
    position: relative;
}

.blog-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    bottom: 5px;
    color: white;
}

.img-caption {
    font-size: 10px;
}

.blog-list-title {
    margin-bottom: .2em;
}
.blog-list-title a {
    text-decoration: none;
}

.blog-list-title a:hover {
    text-decoration: none;
    
}

.blog-list-date {
    font-size: .7em;
}

.blog-list-item {
    margin-bottom: 1em;
    border-bottom: 1x solid #ccc;
}

.two-column-gallery-image {
    width: 48%;
    display: inline-block;
}